<mat-sidenav-container fullscreen>
    <!--Esto es una referencia local-->
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer">

                <!--Se movio gracias al spacer-->
            </span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Listado de usuarios</span>
            </a>
            <a routerLink="./listar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Lista de usuarios</span>
            </a>

            <a routerLink="./mensajes" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>question_answer</mat-icon>
                <span>Ver mensajes</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>

        <span class="spacer">
            <!--Se movio gracias al spacer-->
        </span>
        <button mat-button>
            <mat-icon mat-list-icon>logout</mat-icon>

        </button>
    </mat-toolbar>


    <!--Activo las rutas definidas en el routermodule-->
    <div class="container">

        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>