<form  role="form"  (ngSubmit)="onUpdate(EditForm.value)" >

	<label for="nombre">Nombre</label>
	<input type="text"  placeholder="Escribe tu nombre" [(ngModel)]="persona.nombre"name="nombre"/>

	<label for="primer_apellido">Primer Apellido</label>
	<input type="text" [(ngModel)]="persona.primer_apellido" name="primer_apellido" id="primer_apellido" placeholder="1r Apellido"/>

	<label for="segundo_apellido" >Segundo Apellido</label>
	<input type="text" [(ngModel)]="persona.segundo_apellido" name="segundo_apellido" id="segundo_apellido" placeholder="2nd Apellido" />

	<label for="password">Contraseña </label>
	<input type ="text" [(ngModel)]="persona.password" name="password" id="password" placeholder="Contraseña"/>

	 <mat-form-field appearance="fill">
    <mat-label>Sexo</mat-label>
    <mat-select [(value)]="sexo">
      <mat-option value="1">Masculino</mat-option>
      <mat-option value="2">Femenino</mat-option>
    </mat-select>

  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Estado</mat-label>
    <mat-select [(value)]="active">
      <mat-option value="1">Activo</mat-option>
      <mat-option value="0">Inactivo</mat-option>
    </mat-select>
  </mat-form-field>

	<input type="submit" name="enviar" value="Actualizar Datos"/>
</form>
