



<mat-sidenav-container fullscreen>
    <!--Esto es una referencia local-->
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer">

                <!--Se movio gracias al spacer-->
            </span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Listado de usuarios</span>
            </a>
            <a routerLink="./" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="./departamento" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <span>Listado de Departamentos</span>
            </a>


            <a routerLink="./mensajes" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>question_answer</mat-icon>
                <span>Ver mensajes</span>
            </a>

            <a routerLink="./editar/id" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>question_answer</mat-icon>
                <span>Editar</span>
            </a>




        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <!-- ver aqui el log out-->
        <span class="spacer">
            <!--Se movio gracias al spacer-->
        </span>
        <button routerLink="./login" (click)="singout()" mat-button>
            <mat-icon mat-list-icon>logout</mat-icon>

        </button>
    </mat-toolbar>
    <!--Activo las rutas definidas en el routermodule-->
    <div class="container">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#myModal").modal('show');
            });
        </script>
<!-- Modal -->
<div id="app" class="container py-2" >
    <div>
        <p>Bienvenido a la pagina Inicial , gracias por Utilizar nuestros servicios</p>
    </div>
    <div class="py-2">
        <div class="modal" id="myModal" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>


