/* You can add global styles to this file, and also import other style files */


/*@import "../node_modules/bootstrap/scss/bootstrap";*/

html,
body {
    height: 100%;
}


/*
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
*/


/*Esto se encarga de tomar toso el espacio que  queda restante
y de empujar todo a los bordes*/

.spacer {
    flex: 1 1 auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 600px !important;
}

textarea {
    width: 100%;
}

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

.chat-main-box {
    position: relative;
    overflow: hidden;
}

.chat-main-box .chat-left-aside {
    position: relative;
    width: 250px;
    float: left;
    z-index: 9;
    top: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.chat-main-box .chat-left-aside .open-panel {
    display: none;
    cursor: pointer;
    position: absolute;
    left: -webkit-calc(100% - 1px);
    top: 50%;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 100px 100px 0;
    line-height: 1;
    padding: 15px 8px 15px 4px;
}

.chat-main-box .chat-left-aside .chat-left-inner {
    position: relative;
}

.chat-main-box .chat-left-aside .chat-left-inner .chatonline {
    position: relative;
    height: 90%;
}

.chat-main-box .chat-left-aside .chat-left-inner .form-control {
    height: 60px;
    padding: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(rgba(120, 130, 140, 0.13)), to(rgba(120, 130, 140, 0.13)));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7), -webkit-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    background-image: -o-linear-gradient(#398bf7, #398bf7), -o-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    background-image: linear-gradient(#398bf7, #398bf7), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none {
    padding: 0px;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none li {
    list-style: none;
    overflow: hidden;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none li a {
    padding: 20px;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none li a:hover,
.chat-main-box .chat-left-aside .chat-left-inner .style-none li a.active {
    background: #ebf3f5;
}

.chat-main-box .chat-right-aside {
    width: calc(100% - 250px);
    float: left;
}

.chat-main-box .chat-right-aside .chat-rbox {
    height: auto;
    position: relative;
}

.chat-main-box .chat-right-aside .chat-list {
    max-height: none;
    height: 100%;
    padding-top: 40px;
}

.chat-main-box .chat-right-aside .chat-list .chat-text {
    border-radius: 6px;
}

.chat-main-box .chat-right-aside .send-chat-box {
    position: relative;
}

.chat-main-box .chat-right-aside .send-chat-box .form-control {
    border: none;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    resize: none;
    height: 80px;
    padding-right: 180px;
}

.chat-main-box .chat-right-aside .send-chat-box .form-control:focus {
    border-color: rgba(120, 130, 140, 0.13);
}

.chat-main-box .chat-right-aside .send-chat-box .custom-send {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.chat-main-box .chat-right-aside .send-chat-box .custom-send .cst-icon {
    color: #67757c;
    margin-right: 10px;
}