/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



/*Esto se encarga de tomar toso el espacio que  queda restante
y de empujar todo a los bordes*/
.spacer {
    flex: 1 1 auto;
}